<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings file="">
    <clear />
    <add key="SyncContractsSearchPattern" value="*.Sync.Proxy.*.dll" />
    <add key="SyncContractsDirectory" value="." />
    <add key="LocalDiscoveryOnly" value="1" />
    <add key="Environment" value="City" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConnectionString" value="eyMfIIXTQm0qcNRVAkjSY2JVB/9trhdbwv6eI6yNNNYW26/mOGr1nUk7M7CjghbeCSTr9rMdp02Maqgkzd9ccSSmFbMBOpFHTfU/VcqKb7Q37J9k6MXC4Iiy8b9hPg9x/jtl7+O5GH8TYf6kPHBPSq8LfHkYWhSUlwdrzlftngc=" />
  </appSettings>

</configuration>